body{
    font-family: sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.header{
    background-color:rgb(62,95,138);
    margin-bottom: 20px;
    margin-top: 20px;

}

.servicios{
    background-color: rgb(138,149,151);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 20px;
}

.noticias{
    background-color: rgb(138,149,151);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 20px;
}

.miembros{
    background-color:rgb(64, 105, 112);
    
    justify-content: space-evenly;
}
.footer{
    background-color: rosybrown;
    display: flex;
    margin-bottom: 20px;
}

.superior{
    display: flex;
    align-items: center;
    height: 100px;
}

.titulo, .contenedor{
    width: 50%;

}



.menu{
    display: flex;
    list-style: none;
    justify-content: space-evenly;

}

.item >a{
    text-decoration: none;

}
.item > a:hover{
    font: 20px;
    text-decoration: underline;

}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__image{
    
}

.banner__titulo{
    position: absolute;
    color: white;
}

.servicios__contenedero{
    

}
.noticia{
    display: flex;
}

.contacto{
    margin-left: 40px;
}